<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">


        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.16.1/dist/phaser.min.js"></script>
        <!-- <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script> -->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-102288737-1', 'auto');
          ga('send', 'pageview');
        </script>

        <title>Stocks Game</title>

        <style type="text/css">
            .navbar {
                background-color: #000000 !important;
            }

            #intro_text {
                padding-top:30px;
            } 
        </style>

    </head>

    <body>

        <nav id="myNav" class="navbar fixed-top navbar-expand-sm navbar-dark">
            <div class="container text-center">
                <button id="smNavBtn" class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span id="logoInitials">MM</span>
                </button>
                <div  id="collapsingNavbar" class="collapse navbar-collapse">
                    <a class="navbar-brand d-none d-sm-block" href="https://markmacardle.com/index.html#jtron"><span id="logoFullName">Mark MacArdle</span></a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active text-center">
                            <a class="nav-link" href="https://markmacardle.com/index.html#jtron">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" href="https://medium.com/@macardle" target="_blank">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container p-5">
            <div class="container" id="intro_text">
                <h1>Stock Jumper</h4>
                <p>
                    <strong>Can you make it through a trading day on the Nasdaq 100?</strong>
                    <br>
                    Jump up the stocks for points or sit on a rising stock for both cash and accelerated points.
                    <br>
                    Don't fall down though! Hit the bottom of the screen and you'll die!
                    <br>
                </p>

                <p>
                    Stock movements are driven by <strong>real stock market data</strong> from <a href="https://iextrading.com/">iextrading.com</a> for the last full trading day.
                </p>

                <p>
                    <br>
                    <strong>Directions</strong>
                    <br>
                    Computer users play with arrow keys.
                    <br>
                    Mobile users tap in centre to jump and tap sides to move left or right.
                </p>
            </div>


            {% block main %}{% endblock %}


        </main>

    </body>

</html>
